<module xmlns="urn:jboss:module:1.0" name="org.jboss.ejb3.legacy">
    <resources>
        <resource-root path="jboss-as-ejb3-legacy.jar"/>
        <resource-root path="lib/concurrent.jar"/>
        <resource-root path="lib/jboss-common-core.jar"/>
        <resource-root path="lib/jboss-ejb3-security.jar"/>
        <resource-root path="lib/jboss-ejb3-security.jar"/>
        <resource-root path="lib/jboss-iiop-client.jar"/>
        <resource-root path="lib/jboss-marshalling-river.jar"/>
        <resource-root path="lib/jboss-security-spi.jar"/>
        <resource-root path="lib/hibernate-jpa-2.0-api.jar"/>
        <resource-root path="lib/jboss-ejb3-ext-api.jar"/>
        <resource-root path="lib/jboss-ejb-api_3.1_spec.jar"/>
        <resource-root path="lib/jboss-integration.jar"/>
        <resource-root path="lib/jboss-logging-processor.jar"/>
        <!--
        <resource-root path="lib/jboss-metadata-ejb.jar"/>
        -->
        <resource-root path="lib/jbosssx.jar"/>
        <resource-root path="lib/jboss-classfilewriter.jar"/>
        <resource-root path="lib/jboss-ejb3-proxy-impl.jar"/>
        <resource-root path="lib/jboss-ejb-client.jar"/>
        <resource-root path="lib/jboss-marshalling.jar"/>
        <resource-root path="lib/jboss-metadata.jar"/>
        <resource-root path="lib/jbossws-spi.jar"/>
        <resource-root path="lib/jboss-remoting-aspects.jar"/>
        <resource-root path="lib/jboss-remoting.jar"/>
        <resource-root path="lib/jboss-ejb3-common.jar"/>
        <resource-root path="lib/jboss-aop.jar"/>
        <resource-root path="lib/jboss-logging-log4j.jar"/>
        <resource-root path="lib/jboss-logging-spi.jar"/>
        <resource-root path="lib/trove.jar"/>
        <resource-root path="lib/javassist.jar"/>
        <resource-root path="lib/jboss-mdr.jar"/>
        <resource-root path="lib/jboss-ejb3-proxy-spi.jar"/>
        <resource-root path="lib/jnpserver.jar"/>

        <!-- 
        <resource-root path="lib/jboss-jaxrpc-api_1.1_spec.jar"/>
        -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <!--
        <module name="org.jboss.logging"/>
        -->
        <module name="org.jboss.vfs"/>
        <module name="org.jboss.as.ejb3"/>
        <module name="org.jboss.as.ee"/>
        
    </dependencies>
</module>
