<module xmlns="urn:jboss:module:1.0" name="org.jboss.legacy.ejb3.bridge">
    <resources>
        <resource-root path="jboss-as-legacy-ejb3-bridge.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.ejb3"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <!--
        <module name="org.jboss.metadata"/>
        -->
        
        <module name="org.jboss.legacy.ejb3">
            <imports>
                <exclude-set>
                    <path name="EDU"/>
                    <path name="gnu"/>
                    <path name="javax"/>
                    <path name="javassist"/>
                    <path name="org.jboss.annotation"/>
                    <path name="org.jboss.aop"/>
                    <path name="org.jboss.aspects"/>
                    <path name="org.jboss.classfilewriter"/>
                    <path name="org.jboss.classloading"/>
                    <path name="org.jboss.crypto"/>
                    <path name="org.jboss.deployers"/>
                    <path name="org.jboss.deployment"/>
                    <path name="org.jboss.ejb"/>
                    <path name="org.jboss.ejb3"/>
                    <path name="org.jboss.iiop"/>
                    <path name="org.jboss.jca"/>
                    <path name="org.jboss.logging"/>
                    <path name="org.jboss.marshalling"/>
                    <path name="org.jboss.metadata"/>
                    <path name="org.jboss.metamodel"/>
                    <path name="org.jboss.naming"/>
                    <path name="org.jboss.net"/>
                    <path name="org.jboss.profileservice"/>
                    <path name="org.jboss.remoting"/>
                    <path name="org.jboss.resource"/>
                    <path name="org.jboss.security"/>
                    <path name="org.jboss.tm"/>
                    <path name="org.jboss.util"/>
                    <path name="org.jboss.wsf"/>
                    <path name="org.jnp"/>
                </exclude-set>
            </imports>
        </module>
        <module name="org.jboss.legacy.eap5">
            <imports>
                <exclude-set>
                    <path name="EDU"/>
                    <path name="gnu"/>
                    <path name="javax"/>
                    <path name="javassist"/>
                    <path name="org.jboss.annotation"/>
                    <path name="org.jboss.aop"/>
                    <path name="org.jboss.aspects"/>
                    <path name="org.jboss.classfilewriter"/>
                    <path name="org.jboss.classloading"/>
                    <path name="org.jboss.crypto"/>
                    <path name="org.jboss.deployers"/>
                    <path name="org.jboss.deployment"/>
                    <path name="org.jboss.ejb"/>
                    <path name="org.jboss.ejb3"/>
                    <path name="org.jboss.iiop"/>
                    <path name="org.jboss.jca"/>
                    <path name="org.jboss.logging"/>
                    <path name="org.jboss.marshalling"/>
                    <path name="org.jboss.metadata"/>
                    <path name="org.jboss.metamodel"/>
                    <path name="org.jboss.naming"/>
                    <path name="org.jboss.net"/>
                    <path name="org.jboss.profileservice"/>
                    <path name="org.jboss.remoting"/>
                    <path name="org.jboss.resource"/>
                    <path name="org.jboss.security"/>
                    <path name="org.jboss.tm"/>
                    <path name="org.jboss.util"/>
                    <path name="org.jboss.wsf"/>
                    <path name="org.jnp"/>
                </exclude-set>
            </imports>
        </module>
    </dependencies>
</module>
