<module xmlns="urn:jboss:module:1.0" name="org.jboss.legacy.ejb3">
    <resources>
        <resource-root path="jboss-as-legacy-eap6-ejb3.jar"/>
    </resources>

    <dependencies>
    	<module name="org.jboss.legacy.spi"/>
    	<module name="org.jboss.legacy.connector"/>
    	<module name="org.jboss.legacy.eap5"/>

        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.core-security"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.ejb3"/>
        <module name="org.jboss.as.network" />
        <module name="org.jboss.as.security"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.ejb-client"/>
        <module name="org.jboss.invocation"/>
        
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.vfs"/>
    </dependencies>
</module>
